<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if date %}
    <title>{{ date }}'s Scoreboard</title>
    {% else %}
    <title>Welcome to Scrabble Scoreboard</title>
    {% endif %}
</head>
<body>
    <nav>
        Scrabble Scoreboard:
        <a href="{{ url_for('scoreboard') }}">Scoreboard</a>
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
</body>
</html>